body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 5%;
    margin-top: 0%;
    padding-right: 5%;
}
p {
margin-bottom:0% ;
margin-top: 0%;
}
.company {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2%;
    margin-bottom: 2%;
}
h1 {
        color: rgb(50,69,139);;
        font-weight: normal;
        margin-bottom: 0%;
        font-size: 250%;
}
h4 {
    background-color: 	rgb(50,69,139);
    width: 35%;
    color: white;
    padding-left: 2%;
    margin-bottom: 0%;
}
.bill p {
    padding-left: 2%;
}
.invoice {
    /* padding-left: 5%; */
    margin-left: 20%;
    border: 1px solid rgba(145, 145, 124, 0.909);
    border-width: 15%;
}
/* #invoice .invoice {
    /* align-items: flex-end;
    text-align: left;
}  */
#due_date {
    margin-left: 20%;
    border: 1px solid rgba(125, 124, 124, 0.209);
     background-color: 	#B0C4DE ;
}
.container {
    display: flex;
    flex-direction: row;
}
#invoice {
    margin-left: 45%;
    font-size: small;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
 table th {
    background-color: 	rgb(50,69,139);
    text-align: center;
    color: white;
}
table .amount {
    text-align: right;
}
h5 {
    background-color: 	rgb(50,69,139);
    padding-left: 4%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
}

.x {
    text-align: center;
}
h2 {
    font-weight: bold;
    color: steelblue;
    font-size: 250%;
    margin-bottom: 6%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
th,tr, td {
  text-align: left;
  padding: 10px;
}
.comments {
 border: 1px solid rgba(145, 145, 124, 0.909);
 width:50%;
}
.comments ol {
    margin-bottom: 15%;
}
tr:nth-child(even) {
  background-color:rgb(211, 211, 211);
}
table td {
    /* border: 1px solid black; */
    border-right: 1px solid black;
}
table tr {
    width: 20%;
    height: 45%;
}
.label {
    padding-left: 5%;
}
p .label {
    border-style: ridge;

}
.column {
    display: flex;
    flex-direction: row;
}
.column .sub {
    display: flex;
    flex-direction: row;
    width: 30%;
   padding-right: 50%;
}
#para {
    text-align: center;
}
/* hr {
   
} */
footer {
    margin-top: 5%;
    margin-bottom: 2%;
}
footer span {
    padding-left: 10%;
}