body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
p {
margin-bottom:0% ;
margin-top: 0%;
}
.company {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
h1 {
        color: rgb(50,69,139);;
        font-weight: normal;
        margin-bottom: 0%;
        font-size: 250%;
}
h4 {
    background-color: 	rgb(50,69,139);
    width: 35%;
}
.invoice {
    /* padding-left: 5%; */
    margin-left: 20%;
    border: 1px solid rgba(145, 145, 124, 0.909);
    border-width: 15%;
}
#due_date {
    margin-left: 20%;
    border: 1px solid rgba(125, 124, 124, 0.209);
     background-color: 	#B0C4DE ;
}
.container {
    display: flex;
    flex-direction: row;
}
#invoice {
    margin-left: 45%;
    font-size: small;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
th {
    background-color: 	rgb(50,69,139);
    /* align-items: center; */ 
}
h2 {
    font-weight: bold;
    color: steelblue;
    font-size: 250%;
    margin-bottom: 6%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
th,tr, td {
  text-align: left;
  padding: 10px;
}
h3 {
    background-color: (50,69,139);
}
tr:nth-child(even) {
  background-color:rgb(235, 235, 235);
}
.column {
    display: flex;
    flex-direction: column;
}
.label {
    padding-left: 5%;
}
p .label {
    border-style: ridge;

}